@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700 &display=swap');
@import url('https://fonts.googleapis.com/css?family=Quattrocento:400,700 &display=swap');
:root{
    --primary-color: #2a79be;
    --primary: #2a79be;
    --primary-light: #2abebe;
    --secondary: #ffffff;
    --success: #202d41;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #c23726;
    --light: #f8f9fa;
    --dark: #343a40;

}
* {
    box-sizing: border-box;
}
body{
    font-family: 'Quattrocento', serif;
    overflow-x: hidden;
}
html{
    overflow-x:hidden;
}
a{
    color:var(--danger);
    font-style:italic;
}
h1,  h2, h3, h4, h5, h6 {
font-family: 'Oswald', sans-serif;
}
h1, h2, h3{
    color:var(--success);
}
h4, h5, h6{
    color:var(--primary-color)
}
p {
    font-family: 'Quattrocento', serif;
    font-size:16px;
}
.btn {
font-family: 'Oswald', sans-serif!important;
font-weight: 700!important;
text-transform: uppercase;
font-size: 1.25rem;

    }

    .btn-primary {
  color: #fff!important;
  background-color:var(--primary-color);
  border-color:var(--primary-color);
}

.btn-primary:hover {
    color: #fff;
    background-color: #972023;
    border-color:#972023;
}

a.btn-primary {
   color: #fff!important;
}

    .btn-light {
        color:var(--primary-color);
    }
    .about-section h2 {
        font-weight: 700;
    }
    .dropdown-menu a{
        color:#3d5467;
    }
    .dropdown-menu h3{
        color:#3d5467;
        font-weight: 700;
    }
img{
    max-width:100%;
    display: block;
}

footer h2, footer h3, footer h4, footer h5, footer h6 {
color:#fff;

}
div#nn-review-map-main {
    display:none;
}


.subpage section.content{
    padding: 2rem 1rem;
}

.service-btns-bg {
    margin-bottom: 30px;
}
main.heating .sidebar-subnav > ul > li > a.heating{
    background-color:var(--primary-color);
    color:white;
}
main.cooling .sidebar-subnav > ul > li > a.cooling{
    background-color:var(--primary-color);
    color:white;
}
main.humidification .sidebar-subnav > ul > li > a.humidification{
    background-color:var(--primary-color);
    color:white;
}
main.reviews .sidebar-subnav > ul > li > a.reviews{
    background-color:var(--primary-color);
    color:white;
}
main.special .sidebar-subnav > ul > li > a.special{
    background-color:var(--primary-color);
    color:white;
}
/*
SIDEBAR SUBNAV CURRENT PAGE STYLING
*/
main.camera-video-inspection .sidebar-subnav > ul > li > a.camera-video-inspection,
main.backwater-valves .sidebar-subnav > ul > li > a.backwater-valves,
main.battery-backups .sidebar-subnav > ul > li > a.battery-backups,
main.drain-cleaning .sidebar-subnav > ul > li > a.drain-cleaning,
main.flood-controls .sidebar-subnav > ul > li > a.flood-controls,
main.foundation-leaks .sidebar-subnav > ul > li > a.foundation-leaks,
main.hydro-jetting .sidebar-subnav > ul > li > a.hydro-jetting,
main.plumbing .sidebar-subnav > ul > li > a.plumbing,
main.power-rodding .sidebar-subnav > ul > li > a.power-rodding,
main.pumps .sidebar-subnav > ul > li > a.pumps,
main.sewer-cleanouts .sidebar-subnav > ul > li > a.sewer-cleanouts,
main.sewer-drain-repair .sidebar-subnav > ul > li > a.sewer-drain-repair,
main.water-heaters .sidebar-subnav > ul > li > a.water-heaters,
main.seepage-tile .sidebar-subnav > ul > li > a.seepage-tile{
    background-color:var(--primary-color);
    color:white;
}
/*
END SIDEBAR SUBNAV CURRENT PAGE STYLING
*/
@media (min-width: 768px) {


}
@media (min-width: 992px) {
.logo img {

}
}

@media (min-width: 1200px) {
.logo img {
  }
}
.nn-survey-rating-cat-name > span, div.nn-review-rating-cat-name > span {
    position: relative;
    top: 4px
}

div.nn-review-inner-cont, div.nn-samap-inner-cont {
    font-weight: lighter;
    font-size: .9em
}

div.nn-review-inner-cont > h2, div.nn-samap-inner-cont > h2 {
    margin-top: 0;
    margin-bottom: 0
}

div.nn-samap-tc-cont > h4 {
    margin-top: 0;
    margin-bottom: 6px
}

div#nn-review-map-main, div#nn-samap-map-main {
    height: 300px;
    margin-bottom: 2em;
    margin-top: 2em;
    width: 100%;
    -webkit-box-shadow: -1px 2px 6px #6c6c6c;
    -moz-box-shadow: -1px 2px 6px #6c6c6c;
    box-shadow: 1px 1px 4px #6c6c6c
}

div#nn-review-map-main.nn-map-large {
    height: 480px
}

#nn-review-map-main img, #nn-samap-map-main img {
    max-width: none
}

div.nn-review-cont hr, div.nn-samap-cont hr {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    border-top: 1px dashed #ccc;
    border-bottom: none
}

div.nn-combo-left {
    width: 65%;
    margin-right: 5%;
    float: left
}

div.nn-combo-right {
    width: 30%;
    float: left;
    background-image: url(https://d6at0twdth9j2.cloudfront.net/assets/images/nn-combo-right-bg.png);
    background-repeat: repeat-y
}

div.nn-combo-right div.nn-samap-header h4 {
    padding-top: 0
}

.nn-time-label {
    font-size: .9em;
    font-weight: 700;
    line-height: 1.1em;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: var(--primary-light);
    padding: 1px 4px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 1.3em;
    margin-top: 1.3em;
    text-align: center
}

div.nn-review-header, div.nn-samap-header {
    padding: .4em 1.15em
}

div.nn-review-header h3, div.nn-samap-header h3 {
    display: inline;
    font-size: 1.3em;
    margin-top: 0
}

div.nn-review-header h4, div.nn-samap-header h4 {
    display: inline-block;
    margin: 0
}

div.nn-samap-header h4 {
    padding-top: 22px
}

div.nn-review-summary, div.nn-samap-summary, img.nn-samap-gravatar {
    float: left;
    margin-right: 12px
}

img.nn-samap-gravatar {
    max-height: 40px;
    max-width: 40px;
    height: 40px;
    width: 40px
}

div.nn-review-map-cont, div.nn-samap-map-cont {
    float: right;
    margin-left: .7em;
    margin-bottom: .7em
}

div.nn-review-map-cont img, div.nn-samap-map-cont img {
    border: 1px solid #ccc
}

p.nn-review-body, p.nn-samap-body {
    padding-left: 3em;
    padding-top: .5em;
    margin-left: 1.15px;
    margin-top: .7em;
    background-image: url(https://d6at0twdth9j2.cloudfront.net/assets/images/quote-open.png);
    background-repeat: no-repeat;
    min-height: 24px
}

img.nn-samap-ci-image {
    max-height: 240px;
    max-width: 240px
}

.nn-samap-ci-video {
    max-height: 320px;
    max-width: 320px
}

div.nn-review-footer {
    background-color: #f5f5f5;
    padding: 1.08em 1.15em 1.15em 2em;
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
    border-top: 1px solid #DDD;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    zoom: 1;
    text-align: left
}

div.nn-review-star-wrapper {
    float: left;
    width: 110px;
    overflow: auto;
    display: inline-block
}

div.nn-review-rating-cat-overall {
    margin-bottom: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #777
}

div.nn-review-rating-cat-name {
    float: left;
    width: 14em
}

div.nn-review-star {
    float: left;
    display: block;
    overflow: hidden;
    text-indent: -999em;
    width: 28px;
    height: 26px;
    position: relative;
    background: url(https://d6at0twdth9j2.cloudfront.net/assets/images/nn-review-stars.png) 0 -56px no-repeat
}

div.nn-review-star-on {
    background-position: 0 -84px
}

div.nn-samap-topcity {
    float: left;
    width: 33%
}

.nn-checkin-header, nn-survey-header {
    padding: .4em 1.15em
}

.nn-checkin-header h3, .nn-survey-header h3 {
    display: inline;
    font-size: 1.3em;
    margin-top: 0
}

.nn-checkin-header h4, .nn-survey-header h4, .nn-survey-header h5 {
    padding-top: 5px;
    display: inline-block;
    margin: 0
}

.nn-checkin-map-cont, .nn-survey-map-cont {
    float: right;
    margin-left: .7em;
    margin-bottom: .7em
}

.nn-checkin-map-cont img, .nn-survey-map-cont img {
    border: 1px solid #ccc
}

.nn-survey-header blockquote, p.nn-checkin-reference, p.nn-survey-body {
    padding-left: .5em;
    margin-top: .7em;
    background: 0 0;
    border-left: 4px solid #eee
}

p.nn-checkin-reference, p.nn-survey-body {
    margin-left: 1.15px;
    min-height: 18px
}

.nn-survey-header blockquote {
    margin-left: 20px;
    margin-bottom: 3px
}

.nn-survey-header blockquote p {
    margin-bottom: 10px
}

.nn-survey-footer {
    background-color: #f5f5f5;
    padding: 1.08em 1.15em 1.15em 2em;
    margin-bottom: 0;
    border-top: 1px solid #DDD;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    zoom: 1;
    text-align: left
}

.nn-survey-rating-cat-overall {
    margin-bottom: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #777
}

.nn-survey-rating-cat-name {
    float: left;
    width: 14em
}

.nn-survey-star-wrapper {
    float: left;
    width: 110px;
    overflow: auto;
    display: inline-block
}

@media only screen and (min-width:100px) and (max-width: 667px) {
    .nn-review-outer-cont {
        font-size: 180% !important
    }

    .nn-combo-left, .nn-combo-right {
        width: 100% !important
    }

    p.nn-review-body, p.nn-samap-body {
        padding-left: .5em !important;
        margin-left: 0 !important;
        background-image: none !important
    }

    div.nn-review-footer {
        margin-left: 3px !important;
        margin-right: 3px !important;
        padding: 1em !important
    }
}
@media only screen and (max-width : 480px) {
    .nn-review-outer-cont {
        font-size:180% !important;
        /* Your mileage may vary depending on your website font */
    }
    .nn-combo-left {
        width:100% !important;
    }
    .nn-combo-right {
        width:100% !important;
    }
    p.nn-review-body, p.nn-samap-body {
        padding-left: 0.5em !important;
        margin-left: 0px !important;
        background-image: none !important;
    }
    div.nn-review-footer {
        margin-left: 3px !important;
        margin-right: 3px !important;
        padding: 1em !important;
    }
}
